<%- include('./partials/_navigation.ejs'); %>

	<div id="content">
		<div>
			<h3>Register and Account</h3>
			<p>This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forum/">Forum</a>.</p>
			<form action="/users/signup" method="post" id="register" style="display: flex; flex-direction: column; align-items: center;" novalidate>
				<div class="first" style="height: 325px;">
					<fieldset>
						<label for="name"><strong>Name:</strong></label><input type="text" name="name" id="name" class="inputtext" />
						<label for="email"><strong>Email:</strong></label><input type="text" name="email" id="email" class="inputtext" />
						<label for="password"><strong>Password:</strong></label><input type="password" name="password" id="password" class="inputtext" />
						<label for="role"><strong>Role:</strong></label>
						<select style="height: 30px; width: 85px;" name="role" id="">
							<option>Student</option>
							<option>Teacher</option>
						</select>

					</fieldset>
				</div>
				<input type="submit" value="" id="createaccount" />
			</form>
		</div>
	</div>
	<%-include('./partials/_footer.ejs'); %>